body {
  margin: 0;
  background-color: grey;
}

#root {
    min-height: 100vh;
    max-width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.generalInfo, .educationExp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid black;
}

.displayContainer {
    min-height: 100%;
    width: 100%;
    grid-row: 1 / span 3;
    grid-column: 2 / 3;
    background-color: rgb(100, 100, 100);
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 10vh 10vw;
  width: 40vw;
  height: 80vh;
  background-color: white;
}

.generalInfoDisplay, .educationDisplay {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    border-bottom: 3px solid black;
}

.generalInfoDisplay h1, .educationDisplay h1, .practicalDisplay h1 {
  align-self: center;
}

.practicalDisplay {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

ul {
  list-style: none;
}