body {
  margin: 0;
  background-color: grey;
}

#root {
    min-height: 100vh;
    max-width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.generalInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid black;
}

.educationExp {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid black;
}

.displayContainer {
    min-height: 100%;
    width: 100%;
    grid-row: 1 / span 3;
    grid-column: 2 / 3;
    background-color: rgb(100, 100, 100);
}

.display {
  display: flex;
  justify-content: center;
  margin: 10vh 5%;
  padding: 40vh 40%;
  background-color: white;
}

ul {
  list-style: none;
}